@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-edge-outline {
    -webkit-text-stroke: 1px theme('colors.white' / 0.3);
  }

  .green-pink-gradient {
    background: theme('colors.green');
    background: linear-gradient(90.13deg, theme('colors.green') 1.9%, theme('colors.purple.DEFAULT') 97.5%);
    background: -webkit-linear-gradient(-90.13deg, theme('colors.green') 1.9%, theme('colors.purple.DEFAULT') 97.5%);
  }
}
